.product-cat img {
    display: block;
    margin: auto;
}

.product-cat {
    width: 95px;
    display: inline-block;
    padding: 0 7px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 600;
}

.product-cat:hover,.product-cat-active {
    color: white;
    background: linear-gradient(to top, #03a9f4, #b3e5fc);
}

.product-cats {
    text-align: center;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2) !important;
    /* box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; */
    padding-bottom: 10px;
}

/* ............................................. */

.listcontent {
    display: block;
    padding-top: 16px;
    margin: 17px 20px;
    text-align: center;
    margin-bottom: 40px;
}

.childlistcontent {
    display: inline-block;
    padding: 0 7px;
    width: 250px;
    max-width: 250px;
    margin: 10px;
    border-radius: 4px;
}
.childlistcontent:hover{
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2) !important;
}

.inner-childcontent label {
    display: block;
}

.childlistcontent div {
    padding: 15px 14px 14px 14px;
}

.brand-name {
    font-weight: 700;
    color: #8f8c8c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-name {
    font-size: 13.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-discount {
    color: #1ea31e;
    font-size: 16px;
    font-weight: 600;
}

.final-price {
    font-size: 18px
}

.price-display label {
    display: inline-block;
}

.product-price {
    color: #a19797;
}
.childlistcontent img{
    margin: auto;

}
.cart-button{
    background-color: #1479d8;
    color: white;
    width: 65%;
    height: 30px;
    margin-top: 5px;
    border: solid 0px;
    cursor: pointer;
    border-radius: 4px;   
    
}
.cart-button:focus{
    outline: none;
}